package {{basePackage}};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.context.annotation.ComponentScan;
import org.springframework.context.annotation.PropertySource;
import org.springframework.scheduling.annotation.EnableScheduling;

@EnableScheduling
@ComponentScan
@PropertySource("classpath:application.yaml")
@SpringBootApplication
public class {{applicationClassName}} {
    public static void main(String[] args) {
        SpringApplication.run({{applicationClassName}}.class, args);
    }
}

